.vs/
packages/
XFThemes/XFThemes.Android/obj/
XFThemes/XFThemes.Android/bin/
XFThemes/XFThemes.iOS/obj/
XFThemes/XFThemes.UWP/obj/
XFThemes/XFThemes/bin/
XFThemes/XFThemes/obj/
XFThemes/XFThemes.iOS/bin/
/XFThemes/XFThemes.Android/XFThemes.Android.csproj.user
/XFThemes/XFThemes.iOS/XFThemes.iOS.csproj.user
/XFThemes/XFThemes.UWP/bin
/XFThemes/XFThemes.UWP/XFThemes.UWP.csproj.user
